html, body {
  margin: 0;
  padding: 0;
}

main {
  width: 100vw;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  display: block;
}

.button-container {
  width: 100vw;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 0;
  width: 100px;
  height: 50px;
  background: linear-gradient(to right, orange, rgb(255, 0, 170));
  border: none;
  border-radius: 20%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 1.5rem;
  font-weight: 1.5rem;
  color: white
}

#texture-button {
  width: 100px;
  height: 100px;
  cursor: pointer;
}